---
import Icon_Button from "./Icon_Button.astro";
import "../styles/global.css"
---
<!--<p>reach me out at</p>-->
<!--<div class="h-3"></div>-->
<div class="flex flex-row w-full justify-evenly sm:w-1/4">
    <Icon_Button iconUrl="https://www.linkedin.com/in/hima-varshini-polamarasetty-935766296/" iconAltText="Linkedin"
                 iconSource="/public/linkedin.svg"/>
    <Icon_Button iconUrl="https://github.com/hima2oo4" iconAltText="GitHub" iconSource="/public/github.svg"/>
    <Icon_Button iconUrl="mailto:himapolamarasetty@gmail.com" iconAltText="Mail" iconSource="/public/envelope.svg"/>
    <Icon_Button iconUrl="https://instagram.com" iconAltText="Instagram" iconSource="/public/instagram.svg"/>
</div>